/* general */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --primary-color: white;
    --secondary-color: #1A1A1A;
}
.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.text-white{
    color:var(--primary-color);
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
.text-bold{
    font-weight: bold;
}
/* header  */
header{
    position: fixed;
    width: 100%;
    background-color: #FF6900;
    height: 70px;
    z-index: 1;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 60%;
}
header a, footer a{
    padding-right: 10px;
}
header i, footer i{
    padding-left: 10px;
}
/* main  */
main{
    padding: 100px 60px 30px;
}
.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.card{
    width: calc(100% / 3);
    padding: 15px;
    min-width: 300px;
}
.card-content{
    position: relative;
}
/* elementi card  */
main img{
    width: 100%;
}
.first-img{
    display: block;
}
.second-img{
    display: none;
}
.card:hover .first-img{
    display: none;
}
.card:hover .second-img{
    display: block;
}
.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background: var(--primary-color);
    font-size: 2em;
    padding: 5px 15px;
}
.heart a{
    color: var(--secondary-color);
}
.heart a:hover{
    color: red;
}
.tags{
    position: absolute;
    bottom: calc(100% / 5);
    left: 0;
}
.tags div{
    float: left;
    padding: 3px 10px 4px 10px;
    margin-right: 15px;
    text-align: center;
}
.discount{
    background-color: red;
}
.eco{
    background-color: green;
}
.brand{
    color: gray;
}
main h3{
    color: var(--secondary-color);
}
main span{
    color: red;
}
main del{
    color:gray;
    font-size: 0.7em;
}
/* footer  */
footer{
    background-color: var(--secondary-color);
    padding: 20px 0;
    line-height: 1.5em;
}
footer ul:last-of-type a{
    float: right;
}